@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');
.cauChuyen {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.cauChuyen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.cauChuyen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../public/assets/images/april.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}

.thongDiep {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(227, 226, 226, 0.716);
    position: relative;
    z-index: 1;
    font-weight: 600;
    padding: 100px;
}

.thongDiep p{
    font-family: "Ysabeau SC", serif;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    background-size: 100% 100%;
    background-color: aliceblue;
    height: auto;
    opacity: 70%;
    border-radius: 20px;
}
