*{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.cauChuyen1 {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cauChuyen1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}
.cauChuyen1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/january.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}
.thongDiep1 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(227, 226, 226, 0.716);
    position: relative;
    z-index: 1;
    color: rgb(38, 91, 10);
    font-weight: 600; /* Thay đổi màu chữ nếu cần */ /* Thay đổi kích thước chữ nếu cần */
}