.cauChuyen7 {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cauChuyen7 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}
.cauChuyen7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/july.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}
.thongDiep7 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.74);
    position: relative;
    z-index: 1;
    /* color: rgb(152, 138, 232); */
    font-weight: 600; /* Thay đổi màu chữ nếu cần */ /* Thay đổi kích thước chữ nếu cần */
}
.thongDiep7 p {
    font-family: "Ysabeau SC", serif;
    color: #09a06e;

    /* background-color: aliceblue; */
    /* opacity: 0.8; */
    /*border: 2px solid black; Thêm viền đen xung quanh chữ */
    padding: 0px; /* Thêm khoảng cách giữa chữ và viền */
    display: inline-block; /* Đảm bảo viền bao quanh đúng kích thước chữ */
    background-size: 100% 100%; /* Đảm bảo viền bao quanh đúng kích thước chữ */
    /* padding-top:450px; */


}


