*{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.cauChuyen2 {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cauChuyen2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}
.cauChuyen2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/february.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -2;
}
.thongDiep2 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(48, 41, 133, 0.716);
    position: relative;
    z-index: 1;
    /* color: rgb(152, 138, 232); */
    font-weight: 600; /* Thay đổi màu chữ nếu cần */ /* Thay đổi kích thước chữ nếu cần */
}
.thongDiep2 p {
    font-family: "Ysabeau SC", serif;
    color: rgba(218, 228, 217, 0.808);
}

.thongDiep p span {
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: rgb(34, 22, 138);
    text-shadow: 2px 2px 4px rgba(196, 194, 220, 0.793);

}